.foofields-content {
    background-color: #FFF;
}
.foofields-tabs {
    background-color: #f5f5f5;
    border-right-color: #ccd0d4;
}
.foofields-tab-link {
    color: #0073aa;
}
.foofields-tab.foofields-active .foofields-tab-link {
    color: #FFF;
    background-color: #0073aa;
}
.foofields-hoverable .foofields-tab:not(.foofields-active) .foofields-tab-link:hover {
    color: #00a0d2;
}
.foofields-tab-link:after {
    border-right-color: #FFF;
}
.foofields-tab-menu {
    color: #555;
    background-color: #ddd;
    border-top-color: #eee;
}
.foofields-tab-menu:after {
    border-right-color: #ddd;
}
.foofields-tab-menu-item:not(.foofields-active) .foofields-tab-menu-link:hover {
    color: #0073aa;
}


.foofields-small .foofields-tab.foofields-show-menu:not(.foofields-active) .foofields-tab-link {
    color: #555;
    background-color: #ddd;
}
.foofields-small .foofields-tab.foofields-active .foofields-tab-menu-header {
    color: #FFF;
    background-color: #0073aa;
}