.foofields-field-input-embed-metabox {
  // Reset Wordpress panel styling when we move the meta boxes into a FooMetaField
  .handlediv,
  h2.ui-sortable-handle {
	display: none !important;
  }
  .postbox {
	border: none;
	box-shadow: none;
	background: transparent;
  }

  // Reset featured thumbnail styling
  #set-post-thumbnail {
	.attachment-post-thumbnail {
	  max-width: 250px;
	}
  }
}
