// Input field wrapper
// ------------------------------------
.foofields-field {
  display: flex;
  padding: 0;
  margin-bottom: $m-md;

  &:last-child {
	margin-bottom: 0;
  }

  // Generics
  // ------------------------------------
  .foofields-label {
	flex: 1;
	font-weight: 600;
	padding: $padded;
  }

  .foofields-field-input {
	flex: 1;
	padding: $padded;

	label {
	  vertical-align: text-bottom;
	}
  }

  // Field layouts
  // ------------------------------------
  // Stacked label and field
  &.foofields-layout-block {
	flex-direction: column;
  }

  // Inline label and fields
  &.foofields-layout-inline {
	flex-direction: row;

	.foofields-label {
	  max-width: 150px;
	}
  }

  &.foofields-error {
	background-color: #fde6e6;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  select,
  textarea {
	width: 100%;
  }

  textarea {
	min-height: 100px;
  }

  .foofields-field-description {
	font-style: italic;
	padding: $padded;
	display: block;
	flex: 1;
	min-width: 100%;
  }

  .foofields-repeater {
	.foofields-repeater-no-data-message {
	  display: none;
	}

	table {
	  display: table;
	  width: 100%;
	  margin: 10px 0;

	  td {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	  }

	  tfoot {
		display: none;
	  }
	}

	&.foofields-repeater-empty {
	  .foofields-repeater-no-data-message {
		display: block;
	  }

	  table {
		display: none;
	  }
	}
  }
}
