// Input field wrapper
// ------------------------------------
.foofields-field {
  display: flex;
  padding: 0;
  margin-bottom: $m-md;

  // Generics
  // ------------------------------------
  .foofields-label {
	flex: 1;
	font-weight: 600;
	padding: $padded;

	label {
	  display: inline-flex;
	  align-items: center;
	  min-height: 30px;
	}
	[data-balloon] {
	  display: inline-block;
	}
  }

  .foofields-field-input {
	flex: 1;
	padding: $padded;

	label {
	  vertical-align: text-bottom;
	}
  }

  // Field layouts
  // ------------------------------------
  // Stacked label and field
  &.foofields-layout-block {
	flex-direction: column;
  }

  // Inline label and fields
  &.foofields-layout-inline {
	flex-direction: row;

	.foofields-label {
	  max-width: $label-width;
	}
  }

  // Auto layout
  &.foofields-layout-auto {
	flex-direction: row;
	.foofields-label {
	  max-width: $label-width;
	}
	&.foofields-small {
	  flex-direction: column;
	  .foofields-label {
		max-width: none;
	  }
	}
  }

  &.foofields-indent {
	margin-left: 1em;
  }

  &.foofields-parent {
	margin-bottom: 0;
  }

  &.foofields-child {
	.foofields-label {
	  padding-left: 2em;
	  font-weight: 400;
	}
  }

  &.foofields-error {
	background-color: #fde6e6;
  }

  input[type="text"],
  input[type="time"],
  input[type="date"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  select,
  textarea {
	max-width: 100%;
	border-color: #a0a0a0;
  }

  input[type="text"],
  input[type="password"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  textarea {
	width: 100%;
	padding: 2px 8px;
  }
  input[type="time"],
  input[type="date"],
  input[type="number"] {
	padding: 2px 2px 2px 8px;
  }
  select {
	padding: 2px 27px 2px 8px;
  }

  textarea {
	display: block;
	min-height: 100px;
  }

  &.foofields-field-100 {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 100%;
	}
  }

  &.foofields-field-75 {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 75%;
	}
  }

  &.foofields-field-50 {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 50%;
	}
  }

  &.foofields-field-25 {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 25%;
	}
  }

  &.foofields-field-medium {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 25em;
	}
  }

  &.foofields-field-short {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 10em;
	}
  }

  &.foofields-field-small {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 5em;
	}
  }

  &.foofields-field-text-left {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  text-align: left;
	}
  }

  &.foofields-field-text-center {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  text-align: center;
	}
  }

  &.foofields-field-text-right {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  text-align: right;
	}
  }

  &.foofields-field-auto {
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: auto;
	}
  }

  .foofields-field-description {
	font-style: italic;
	padding: $padded;
	display: block;
	flex: 1;
	min-width: 100%;
	margin: $m-0 0 0 0;
	color: #82878c;
  }
}

@media only screen and (max-width: $screen-2) {
  // at this screen size inputs switch their min-height from 30px to 40px so adjust what is needed
  // TODO: Go through the other fields and update various values to account for this change. Find in Path... 30px
  .foofields-field {
	.foofields-label {
	  label {
		min-height: 40px;
	  }
	}
	input[type="text"],
	input[type="time"],
	input[type="date"],
	input[type="password"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  padding: 3px 10px;
	}
	input[type="number"] {
	  padding: 3px 3px 3px 10px;
	}
	select {
	  padding: 3px 27px 3px 10px;
	}
  }
}
