// Input field wrapper
// ------------------------------------
.foofields-field {
  display: flex;
  padding: 0;
  margin-bottom: $m-md;

  // Generics
  // ------------------------------------
  .foofields-label {
	flex: 1;
	font-weight: 600;
	padding: $padded;

	label {
	  display: inline-flex;
	  align-items: center;
	  min-height: 30px;
	}
	[data-balloon] {
	  display: inline-block;
	}
  }

  .foofields-field-input {
	flex: 1;
	padding: $padded;

	label {
	  vertical-align: text-bottom;
	}
  }

  // Field layouts
  // ------------------------------------
  // Stacked label and field
  &.foofields-layout-block {
	flex-direction: column;
  }

  // Inline label and fields
  &.foofields-layout-inline {
	flex-direction: row;

	.foofields-label {
	  max-width: $label-width;
	}
  }

  // Auto layout
  &.foofields-layout-auto {
	flex-direction: row;
	.foofields-label {
	  max-width: $label-width;
	}
	&.foofields-small {
	  flex-direction: column;
	  .foofields-label {
		max-width: none;
	  }
	}
  }

  &.foofields-indent {
	margin-left: 1em;
  }

  &.foofields-parent {
	margin-bottom: 0;
  }

  &.foofields-child {
	.foofields-label {
	  padding-left: 2em;
	  font-weight: 400;
	}
  }

  &.foofields-error {
	background-color: #fde6e6;
  }

  input[type="text"],
  input[type="password"],
  input[type="number"],
  input[type="search"],
  input[type="email"],
  input[type="url"],
  select,
  textarea {
	width: 100%;
	padding: 2px 8px;
  }

  textarea {
	min-height: 100px;
  }

  &.foofields-field-short {
	input[type="text"],
	input[type="password"],
	input[type="number"],
	input[type="search"],
	input[type="email"],
	input[type="url"],
	select,
	textarea {
	  width: 50%;
	}
  }

  .foofields-field-description {
	font-style: italic;
	padding: $padded;
	display: block;
	flex: 1;
	min-width: 100%;
  }

  .foofields-repeater {
	.foofields-repeater-no-data-message {
	  display: none;
	}

	table {
	  display: table;
	  width: 100%;
	  margin: 10px 0;

	  td {
		box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	  }

	  tfoot {
		display: none;
	  }
	}

	&.foofields-repeater-empty {
	  .foofields-repeater-no-data-message {
		display: block;
	  }

	  table {
		display: none;
	  }
	}
  }
}
