// HTML Radios and Checkboxes
// ------------------------------------
.foofields-type-radiolist,
.foofields-type-checkboxlist,
.foofields-type-htmllist {
  .foofields-field-input {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;

	label {
	  display: inline-flex;
	  margin-right: $m-sm;
	  padding: 5px;
	  line-height: 1;
	  min-height: 30px;
	  align-items: center;

	  input[type=checkbox], input[type=radio] {
		margin: 0 $m-0;
	  }
	  input[type=checkbox] {
		margin-top: 1px;
	  }
	}
  }
  &.foofields-stacked {
	.foofields-field-input {
	  flex-direction: column;
	  align-items: flex-start;

	  label {
		display: flex;
		margin-right: 0;
	  }
	}
  }
}

.foofields-type-htmllist {
  .foofields-field-input {
	label {
	  border: solid 3px transparent;
	  background: #aaa;
	  border-radius: 3px;
	  > input {
		display: none;
	  }
	}

	.foofields-selected {
	  border: solid 3px #444;
	  background: #888;
	}

	.foofields-selected:hover {
	  border: solid 3px #444;
	}
  }
}
