// HTML Radios and Checkboxes
// ------------------------------------
.foofields-type-radiolist,
.foofields-type-checkboxlist {
  .foofields-field-input {
	label {
	  display: inline-block;
	  margin-right: 10px;
	  padding: 5px;
	  line-height: 0;
	}
  }
}

.foofields-type-htmllist {
  .foofields-field-input {
	label {
	  display: inline-block;
	  margin-right: 10px;
	  border: solid 3px transparent;
	  background: #aaa;
	  border-radius: 3px;
	  padding: 5px;
	  line-height: 0;
	  margin-bottom: 10px;
	}

	input:checked + label {
	  border: solid 3px #444;
	  background: #888;
	}

	label:hover {
	  border: solid 3px #444;
	}
  }
}
