.foofields-type-selectize-multi {
  .foofields-field-input {
	.selectize-control {

	  &.loading {
		.selectize-input:after {
		  background: url(/wp-admin/images/spinner.gif) no-repeat;
		  background-size: 20px 20px;
		  display: inline-block;
		  opacity: 0.7;
		  filter: alpha(opacity=70);
		  width: 20px;
		  height: 20px;
		  top: 50%;
		  margin-top: -10px;
		  border: none;
		  position: absolute;
		}
	  }

	  .selectize-input {
		box-shadow: none;
		border-radius: 4px;
		border: 1px solid #7e8993;
		background-color: #fff;
		color: #32373c;
		line-height: 2;
		padding: 2px 8px;
		min-height: 30px;

		&.focus {
		  border-color: #007cba;
		  box-shadow: 0 0 0 1px #007cba;
		  outline: 2px solid transparent;
		}

		> input {
		  font-size: 14px;
		  vertical-align: initial;
		}
		> div {
		  border: none;
		  line-height: 1.5;
		  margin: 2px 7px 2px 0;
		  box-shadow: inset 0 0 0 1px #d0d0d0;
		  padding: 2px 6px 3px;
		  border-radius: 3px;
		}
	  }

	  &.plugin-remove_button [data-value] .remove {
		line-height: 100%;
		font-weight: 400;
		font-size: 17px;
		padding: 2px 1px 0 0;
		width: 18px;
	  }

	  &.single.plugin-remove_button {
		.selectize-input {
		  padding: 2px 27px 2px 8px;

		  &:after {
			right: 8px;
		  }
		  > span {
			cursor: pointer;
			border: none;
			line-height: 1.5;
			margin: 2px 7px 2px 0;
			box-shadow: inset 0 0 0 1px #d0d0d0;
			padding: 2px 6px 3px;
			border-radius: 3px;
			background: #f2f2f2;
			color: #303030;

			.remove-single {
			  z-index: 1;
			  position: absolute;
			  top: 0;
			  right: 0;
			  bottom: 0;
			  text-align: center;
			  line-height: 100%;
			  font-weight: 400;
			  font-size: 17px;
			  padding: 2px 1px 0 0;
			  width: 18px;
			  color: inherit;
			  text-decoration: none;
			  vertical-align: middle;
			  display: inline-block;
			  border-left: 1px solid #d0d0d0;
			  box-sizing: border-box;

			  &:hover{
				background: rgba(0, 0, 0, 0.05);
			  }
			}
		  }
		}
	  }
	}
  }
}
