// Settings Style CSS
// ----------------------------------------------------------------------------
.foofields-style-settings {
  margin-top: 2em;

  .foofields-tab-link {
	color: #555;
	background-color: #e5e5e5;
	border: solid 1px #ccc;
	font-weight: 600;
  }
  .foofields-tab {
	border-color: #ccc;

	&.foofields-active {
	  .foofields-tab-link {
		color: #000;
		background-color: #f1f1f1;
	  }
	}

	&:not(.foofields-active) {
	  .foofields-tab-link {
		&:hover {
		  color: #00a0d2;
		}
	  }
	}
  }
  .foofields-tab-menu {
	color: #555;
	background-color: #f1f1f1;
  }
  .foofields-tab-menu-item {
	&.foofields-active {
	  .foofields-tab-menu-link {
		color: #000;
		font-weight: 600;
	  }
	}
	&:not(.foofields-active) {
	  .foofields-tab-menu-link {
		color: #0073aa;
		&:hover {
		  color: #00a0d2;
		}
	  }
	}
  }
}
// Vertical CSS
// ----------------------------------------------------------------------------
.foofields-tabs-vertical.foofields-style-settings {
  .foofields-tab {
	.foofields-tab-link {
	  margin: $m-0 0;
	  right: -1px;
	}
	&.foofields-active {
	  .foofields-tab-link {
		z-index: 13;
		border-right-color: #f1f1f1;
	  }
	  .foofields-tab-menu {
		border-left: solid 1px #ccc;
		margin: -$m-0 0;
		margin-left: $m-xs;
		width: calc(100% - #{$m-xs});
	  }
	  &.foofields-last {
		.foofields-tab-menu {
		  margin-bottom: 0;
		  border-bottom: solid 1px #ccc;
		}
	  }
	}
  }

  .foofields-tabs {
	border-right-color: #ccc;

	&.foofields-menu-showing {
	  .foofields-tab {
		&.foofields-active:not(.foofields-show-menu) {
		  .foofields-tab-link {
			z-index: 12;
			border-right-color: #ccc;
		  }
		}
		&.foofields-show-menu:not(.foofields-active) {
		  .foofields-tab-link {
			z-index: 13;
			border-right-color: #e5e5e5;
		  }
		  .foofields-tab-menu {
			border: solid 1px #ccc;
			background-color: #e5e5e5;
		  }
		}
	  }
	}
  }
}
// Horizontal CSS
// ----------------------------------------------------------------------------
.foofields-tabs-horizontal.foofields-style-settings {
  .foofields-content {
	padding: $m-sm 0;
  }
  .foofields-tab {
	.foofields-tab-link {
	  margin: 0 $m-0;
	}
	&.foofields-has-menu.foofields-active,
	&.foofields-has-menu.foofields-show-menu {
	  margin-bottom: $tab-h-settings-menu-height;
	}
	.foofields-tab-menu {
	  height: $tab-h-settings-menu-height + 1px;

	  .foofields-tab-menu-item,
	  .foofields-tab-menu-link {
		height: 100%;
		vertical-align: top;
	  }

	  .foofields-tab-menu-item:not(.foofields-first):before {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	  }
	}
	&.foofields-active {
	  .foofields-tab-link {
		z-index: 13;
		border-bottom-color: #f1f1f1;
	  }
	  .foofields-tab-menu {
		border-top-color: #ccc;
	  }
	}
  }
  .foofields-tabs {
	&:after {
	  background-color: #ccc;
	}
	&.foofields-menu-showing {
	  .foofields-tab {
		&.foofields-active:not(.foofields-show-menu) {
		  .foofields-tab-link {
			z-index: 12;
			border-bottom-color: #ccc;
		  }
		}
		&.foofields-show-menu:not(.foofields-active) {
		  .foofields-tab-link {
			z-index: 13;
			border-bottom-color: #e5e5e5;
		  }
		  .foofields-tab-menu {
			box-shadow: inset 0 -1px 0 #ccc;
			border-top-color: #ccc;
			background-color: #e5e5e5;
		  }
		}
	  }
	}
  }
}
// Small Screen CSS
// ----------------------------------------------------------------------------
@media only screen and (max-width: $screen-3) {
  .foofields-tabs-vertical.foofields-style-settings {
	.foofields-tab.foofields-show-menu {
	  .foofields-tab-link {
		&:after {
		  border-right-color: #ddd;
		}
	  }
	  &:not(.foofields-active) {
		.foofields-tab-link {
		  color: #555;
		  background-color: #ddd;
		}
	  }
	}
	.foofields-tab.foofields-active {
	  .foofields-tab-menu-header {
		color: #FFF;
		background-color: #0073aa;
	  }
	}
  }
}
