// Tab Menu Item CSS
// ----------------------------------------------------------------------------
.foofields-tab-menu-item {
  position: relative;
  list-style-type: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: inherit;
}
.foofields-tab-menu-header {
  display: none;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  list-style-type: none;
  line-height: 1;
  position: relative;
  margin: 0;
  padding: 8px 12px 8px 2px;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
}
.foofields-tab-menu-link {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  color: inherit;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  &:focus {
	outline: none;
	box-shadow: none;
	text-decoration: none;
  }
}
.foofields-tab-menu-item.foofields-active {
  .foofields-tab-menu-link {
	font-weight: 600;
  }
}
// Vertical CSS
// ----------------------------------------------------------------------------
.foofields-tabs-vertical {
  .foofields-tab-menu-header {
	height: $tab-v-height;
  }
  .foofields-tab-menu-item {
	display: block;
  }
  .foofields-tab-menu-link {
	display: flex;
	justify-content: flex-start;
	padding: $tab-v-link-padding;
  }
}
// Horizontal CSS
// ----------------------------------------------------------------------------
.foofields-tabs-horizontal {
  .foofields-tab-menu-item {
	display: inline-block;
	&:not(.foofields-first) {
	  &:before {
		display: inline-block;
		content: "";
		margin: 0;
		width: 1px;
		height: 1.2em;
		background-color: currentColor;
		vertical-align: middle;
	  }
	}
  }
  .foofields-tab-menu-link {
	display: inline-flex;
	padding: 4px;
  }
}
// Small Screen CSS
// ----------------------------------------------------------------------------
@media only screen and (max-width: $screen-3) {
  .foofields-tabs-vertical {
	.foofields-tab-menu {
	  padding: 0 0 $m-xs 0;
	  .foofields-tab-menu-header {
		display: flex;
		margin-bottom: $m-xs;
	  }
	}
  }
}
