// Tab CSS
// ----------------------------------------------------------------------------
.foofields-tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.foofields-tab-link {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  font-size: 14px;
  margin: 0;
  padding: 7px;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  cursor: pointer;
  &:after {
	display: inline-block;
	border: solid 8px transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
  }
  &:focus {
	outline: none;
	box-shadow: none;
	text-decoration: none;
  }
}
.foofields-tab.foofields-active {
  .foofields-tab-link {
	&:after {
	  visibility: visible;
	  opacity: 1;
	}
  }
}
.foofields-tab.foofields-show-menu {
  .foofields-tab-link {
	&:after {
	  visibility: visible;
	  opacity: 1;
	}
  }
}
.foofields-tab-icon {
  display: inline-block;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  font-size: 1em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.foofields-tab-text {
  display: inline-block;
  padding: 0 3px;
}
.foofields-tab-error {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 1px 0 -1px 2px;
  padding: 0 5px;
  min-width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: #ca4a1f;
  color: #fff;
  font-size: 11px;
  line-height: 1.6;
  text-align: center;
  z-index: 26;
}
// Vertical CSS
// ----------------------------------------------------------------------------
.foofields-tabs-vertical {
  .foofields-tab {
	position: relative;
  }
  .foofields-tab-link {
	justify-content: flex-start;
	height: $tab-v-height;
	&:after {
	  right: -1px;
	  top: 50%;
	  transform: translateY(-50%);
	}
	.foofields-tab-icon+.foofields-tab-text {
	  padding: 0 3px 0 6px;
	}
  }
}
// Horizontal CSS
// ----------------------------------------------------------------------------
.foofields-tabs-horizontal {
  .foofields-tab {
	display: inline-block;
  }
  .foofields-tab.foofields-has-menu.foofields-active,
  .foofields-tab.foofields-has-menu.foofields-show-menu {
	margin-bottom: $tab-h-menu-height;
  }
  .foofields-tab-link {
	&:after {
	  bottom: -1px;
	  transform: translateX(-50%);
	  left: 50%;
	  border-width: 4px;
	}
	.foofields-tab-icon {
	  margin: 0 4px;
	}
  }
  .foofields-showing-menu {
	.foofields-tab.foofields-active {
	  .foofields-tab-link {
		&:after {
		  visibility: hidden;
		  opacity: 0;
		}
	  }
	}
  }
}
// Small Screen CSS
// ----------------------------------------------------------------------------
@media only screen and (max-width: $screen-3) {
  .foofields-tab-link {
	&:after {
	  border-width: 4px;
	}
  }
  .foofields-tab.foofields-active.foofields-show-menu {
	.foofields-tab-link {
	  &:after {
		visibility: hidden;
		opacity: 0;
	  }
	}
  }
  .foofields-tabs-vertical {
	.foofields-tab-link {
	  justify-content: center;
	  .foofields-tab-text {
		display: none;
	  }
	}
  }
}

@media only screen and (max-width: $screen-2) {
  .foofields-tabs-horizontal {
	.foofields-tab-link {
	  .foofields-tab-icon {
		font-size: 20px;
	  }
	  .foofields-tab-text {
		display: none;
	  }
	}
  }
}
