.foofields-content.foofields-active.foofields-cols-2,
.foofields-type-field-group.foofields-cols-2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  >.foofields-field {
	padding: 0;
	align-self: flex-start;
	width: 50%;
  }
  >.foofields-field.foofields-colspan-2,
  >.foofields-field.foofields-colspan-3,
  >.foofields-field.foofields-colspan-4,
  >.foofields-field.foofields-colspan-5,
  >.foofields-field.foofields-full-width {
	width: 100%;
  }
}
// Small Screen CSS
// ----------------------------------------------------------------------------
@media only screen and (max-width: $small-screen) {
  .foofields-content.foofields-active.foofields-cols-2,
  .foofields-type-field-group.foofields-cols-2 {
	>.foofields-field {
	  width: 100%;
	}
  }
}
