.foofields-content {
  display: none;
  padding: $m-sm;
  margin: 0;
  width: 100%;
  height: auto;

  &.foofields-active {
	display: inline-block;
  }

  img {
	max-width: 100%;
	height: auto;
  }
}
